KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/cursor.o \
$(ARCHDIR)/command_terminal.o \
$(ARCHDIR)/color_menu.o \
$(ARCHDIR)/welcome_screen.o \
$(ARCHDIR)/menu_features.o \
$(ARCHDIR)/shutdown.o\
